<section id="home-view" class="flex flex-col animate-fade-in gap-5 m-5 md:gap-20 lg:gap-30">
    <div class="flex flex-col items-start w-full max-w-2xl gap-4 md:gap-7 lg:gap-10">
        <h2 class="text-base md:text-5xl lg:text-size-header text-center font-koho text-amber-100 shrink-0">
            CHARACTER INFO
        </h2>
        <p class="text-amber-100 text-xs md:text-base lg:text-size-paragraph font-koho-regular">
            Learn more about the characters behind the story of Zoi: Escape. Discover Zoi’s background as a laboratory escapee and the dangerous enemies he must face, including mad scientists, mutated creatures, and powerful bosses that guard each stage of the facility.        
        </p>
    </div>


    <!-- ZOI CARD-->
    <div class="w-full flex flex-row items-center gap-5 md:gap-10 lg:gap-12 group cursor-pointer p-2 rounded-lg border border-transparent hover:border-zinc-700 hover:bg-zinc-800/30 transition-all duration-300">
    
        <div class="flex flex-col items-center justify-center flex-shrink-0 transition-all duration-300 group-hover:scale-105 ease-out">
            <img 
                src="./Assets/Art/CharacterCards/zoi.png"
                class="w-[50px] md:w-[125px] lg:w-[200px] h-auto object-contain drop-shadow-md"
                alt="Zoi Character Art"
            >
        </div>
        
        <div class="flex flex-col justify-start opacity-0 translate-x-4 pointer-events-none group-hover:opacity-100 group-hover:translate-x-0 group-hover:pointer-events-auto transition-all duration-300 ease-out">
            <h2 class="text-[8px] md:text-base lg:text-3xl text-start font-koho text-amber-300 shrink-0 drop-shadow-md">
                ZOI - The Survivor
            </h2>
            <p class="flex-1 text-amber-100 text-[6px] md:text-base lg:text-size-paragraph font-koho-regular drop-shadow-md mt-2">
                Learn more about the characters behind the story of Zoi: Escape. Discover Zoi’s background as a laboratory escapee and the dangerous enemies he must face, including mad scientists, mutated creatures, and powerful bosses that guard each stage of the facility.        
            </p>
        </div>
        
    </div>

        <!-- GOLIATH CARD-->
    <div class="w-full flex flex-row items-center gap-5 md:gap-10 lg:gap-12 group cursor-pointer p-2 rounded-lg border border-transparent hover:border-zinc-700 hover:bg-zinc-800/30 transition-all duration-300">
        
        <div class="flex flex-col justify-end opacity-0 translate-x-0 pointer-events-none group-hover:opacity-100 group-hover:translate-x-4 group-hover:pointer-events-auto transition-all duration-300 ease-out">
            <h2 class="text-[8px] md:text-base lg:text-3xl text-end font-koho text-amber-300 shrink-0 drop-shadow-md">
                Goliath Brute - Stage Boss            
            </h2>
            <p class="text-end flex-1 text-amber-100 text-[6px] md:text-base lg:text-size-paragraph font-koho-regular drop-shadow-md mt-2">
                Learn more about the characters behind the story of Zoi: Escape. Discover Zoi’s background as a laboratory escapee and the dangerous enemies he must face, including mad scientists, mutated creatures, and powerful bosses that guard each stage of the facility.        
            </p>
        </div>

        <div class="flex flex-col items-center justify-center flex-shrink-0 transition-all duration-300 group-hover:scale-105 ease-out">
            <img 
                src="./Assets/Art/CharacterCards/goliath.png"
                class="w-[50px] md:w-[125px] lg:w-[200px] h-auto object-contain drop-shadow-md"
                alt="Zoi Character Art"
            >
        </div>
        
    </div>

    <!-- TWIN CARD-->
    <div class="w-full flex flex-row items-center gap-5 md:gap-10 lg:gap-12 group cursor-pointer p-2 rounded-lg border border-transparent hover:border-zinc-700 hover:bg-zinc-800/30 transition-all duration-300">
    
        <div class="flex flex-col items-center justify-center flex-shrink-0 transition-all duration-300 group-hover:scale-105 ease-out">
            <img 
                src="./Assets/Art/CharacterCards/twin.png"
                class="w-[50px] md:w-[125px] lg:w-[200px] h-auto object-contain drop-shadow-md"
                alt="Zoi Character Art"
            >
        </div>
        
        <div class="gap-2 md:gap-4 lg:gap-6 flex flex-col justify-start opacity-0 translate-x-4 pointer-events-none group-hover:opacity-100 group-hover:translate-x-0 group-hover:pointer-events-auto transition-all duration-300 ease-out">
            <h2 class="text-[8px] md:text-base lg:text-3xl text-start font-koho text-amber-300 shrink-0 drop-shadow-md">
                Twin Maw Stalker - Boss
            </h2>
            <p class="flex-1 text-amber-100 text-[6px] md:text-base lg:text-size-paragraph font-koho-regular drop-shadow-md mt-2">
                The Twin Maw Stalker is a horrifying creature born from a failed fusion experiment. With two snarling heads and four powerful legs, it moves with terrifying speed. Each head snaps with razor-sharp teeth, making it deadly in close combat. Its agility and relentless aggression make escape extremely difficult.            </p>
        </div>
        
    </div>

    <!-- PLAGUE CARD-->
    <div class="w-full flex flex-row items-center gap-5 md:gap-10 lg:gap-12 group cursor-pointer p-2 rounded-lg border border-transparent hover:border-zinc-700 hover:bg-zinc-800/30 transition-all duration-300">
        
        <div class="flex flex-col justify-end opacity-0 translate-x-0 pointer-events-none group-hover:opacity-100 group-hover:translate-x-4 group-hover:pointer-events-auto transition-all duration-300 ease-out">
            <h2 class="text-[8px] md:text-base lg:text-3xl text-end font-koho text-amber-300 shrink-0 drop-shadow-md">
                Plague Spitter – Stage Boss            
            </h2>
            <p class="text-end flex-1 text-amber-100 text-[6px] md:text-base lg:text-size-paragraph font-koho-regular drop-shadow-md mt-2">
                Learn more about the characters behind the story of Zoi: Escape. Discover Zoi’s background as a laboratory escapee and the dangerous enemies he must face, including mad scientists, mutated creatures, and powerful bosses that guard each stage of the facility.        
            </p>
        </div>

        <div class="flex flex-col items-center justify-center flex-shrink-0 transition-all duration-300 group-hover:scale-105 ease-out">
            <img 
                src="./Assets/Art/CharacterCards/plague.png"
                class="w-[50px] md:w-[125px] lg:w-[200px] h-auto object-contain drop-shadow-md"
                alt="Zoi Character Art"
            >
        </div>
        
    </div>

    <!-- REAPER CARD-->
    <div class="w-full flex flex-row items-center gap-5 md:gap-10 lg:gap-12 group cursor-pointer p-2 rounded-lg border border-transparent hover:border-zinc-700 hover:bg-zinc-800/30 transition-all duration-300">
    
        <div class="flex flex-col items-center justify-center flex-shrink-0 transition-all duration-300 group-hover:scale-105 ease-out">
            <img 
                src="./Assets/Art/CharacterCards/reaper.png"
                class="w-[50px] md:w-[125px] lg:w-[200px] h-auto object-contain drop-shadow-md"
                alt="Zoi Character Art"
            >
        </div>
        
        <div class="flex flex-col justify-start opacity-0 translate-x-4 pointer-events-none group-hover:opacity-100 group-hover:translate-x-0 group-hover:pointer-events-auto transition-all duration-300 ease-out">
            <h2 class="text-[8px] md:text-base lg:text-3xl text-start font-koho text-amber-300 shrink-0 drop-shadow-md">
                The Aberrant Reaper - Final Boss
            </h2>
            <p class="flex-1 text-amber-100 text-[6px] md:text-base lg:text-size-paragraph font-koho-regular drop-shadow-md mt-2">
                The Aberrant Reaper is the ultimate result of the laboratory’s forbidden experiments. With long twisted limbs and razor-sharp claws, it attacks with terrifying speed and agility. As the final guardian of the laboratory’s exit, it stands between Zoi and his freedom.            </p>
        </div>
    </div>
</section>