<section id="home-view" class="flex flex-col animate-fade-in gap-5 m-5 md:gap-13 lg:gap-15">
        <div class="flex flex-row w-full justify-between items-end gap-5 lg:mt-5">
        <h1 id="home-title" class="transition-all ease-in-out duration-200 font-karantina text-7xl md:text-9xl xl:text-[200px] text-amber-400 leading-none">
            ZOI ESCAPE
        </h1>
        <div id="video-widget" class="relative w-40 md:w-64 lg:w-80 xl:w-96 aspect-video overflow-hidden rounded-xl border border-zinc-700 bg-zinc-950 shadow-lg shrink-0 mb-2 transition-all duration-300 hover:scale-105 ease-in-out">
            <div class="absolute top-0 left-0 w-full p-2 z-10 bg-gradient-to-b from-black/80 to-transparent pointer-events-none">
                <span class="text-amber-100 font-koho-regular text-xs md:text-sm drop-shadow-md block text-center">Gameplay Trailer</span>
            </div>

            <video class="w-full h-full object-cover pointer-events-none" autoplay loop muted playsinline>
                <source src="Assets/Art/Videos/zoi-escape-trailer.mp4" type="video/mp4">
            </video>
        </div>
    </div>
    <div class="flex flex-col items-start w-full max-w-2xl gap-4 md:gap-7 lg:gap-10">
        <p class="text-amber-100 text-xs md:text-base lg:text-size-paragraph font-koho-regular">
            Welcome to the official website of Zoi: Escape, a 2D pixel-art adventure platformer set in a dark, post-apocalyptic laboratory. Explore the game’s story, mechanics, and characters, and prepare to test your survival skills in a special playable demo. Step into the world of Zoi and discover what it takes to escape the laboratory.    
        </p>
        
        <button id="play-demo" class="active:bg-amber-600/70  self-start block whitespace-nowrap px-2 py-0.5 lg:px-6 lg:py-3 bg-amber-400/70 text-white font-koho-regular text-xs md:text-base lg:text-size-button hover:bg-amber-300/90 transition-all ease-in-out duration-200 hover:scale-105">
            Play Demo
        </button>
    </div>

    <div class="flex flex-col items-center mt-8 md:mt-16 lg:mt-24 w-full gap-4 md:gap-6 lg:gap-8 px-4 md:px-10 lg:px-0 shrink-0 pb-20">
        <h2 class="text-base md:text-5xl lg:text-size-header text-center font-koho text-amber-100 shrink-0">
            Story
        </h2>
            <p class="text-center text-amber-100 text-xs md:text-base lg:text-size-paragraph font-koho-regular max-w-5xl shrink-0 transition-all duration-200 hover:scale-105 ease-in-out">
                In a quiet rural town, a dark secret haunts the people who live there. Every month, groups of scientists accompanied by military personnel arrive without warning, demanding that each family surrender one child for a mysterious "research program." Refusal is not an option. Families who resist simply disappear. To protect his loved ones, a teenage boy named Zoi makes the painful decision to volunteer himself. He is taken far from home to a hidden underground laboratory where countless children are imprisoned and subjected to cruel experiments designed to create powerful biological weapons.
            </p>
        <p class="text-center text-amber-100 text-xs md:text-base lg:text-size-paragraph font-koho-regular max-w-5xl shrink-0 transition-all duration-200 hover:scale-105 ease-in-out">
            Deep beneath the surface, the laboratory becomes a place of fear and suffering. Scientists experiment on humans and animals alike, twisting them into monstrous creatures. Some experiments turn children into unstable test subjects, while animals mutate into violent zombie-like beasts. Zoi survives the harsh conditions longer than most, quietly observing the facility and waiting for an opportunity to escape. One day, a catastrophic experiment goes terribly wrong. A test subject breaks free from containment, spreading chaos through the laboratory and turning scientists and creatures alike into uncontrollable monsters. Within hours, the entire facility collapses into panic and destruction.
        </p>
        <p class="text-center text-amber-100 text-xs md:text-base lg:text-size-paragraph font-koho-regular max-w-5xl shrink-0 transition-all duration-200 hover:scale-105 ease-in-out">
            Amid the chaos, Zoi becomes one of the few survivors left alive. Knowing the laboratory will soon become a tomb, he begins a desperate escape through its dangerous levels—from the deepest research chambers to the surface above. Along the way he must fight mutated creatures, avoid deadly traps, and overcome powerful enemies guarding the path to freedom. Each floor of the laboratory reveals more horrifying truths about the experiments conducted there. With courage, determination, and the will to survive, Zoi pushes forward toward the final exit—hoping that if he can escape, he may finally expose the horrors hidden beneath the laboratory and reclaim the life that was stolen from him.
        </p>
    </div>
</section>